.DS_Store
.env
.env.local
frontend-repo
image-migration-tool
python-test-tools
.qoder
backend-repo/test-out.txt
nul
static
.agents
.claude
.opencode
.trae
.qoder
.workbuddy
code-review/
.vitepress
!.vitepress/
**/.vitepress/*
!vitepress-doc/.vitepress/theme/
!vitepress-doc/.vitepress/theme/Layout.vue
*.log
*.tmp