/* 明暗模式视图过渡 */
::view-transition-old(root),
::view-transition-new(root) {
  mix-blend-mode: normal;
  animation: none;
}

::view-transition-old(root) {
  z-index: 0;
}

::view-transition-new(root) {
  z-index: 1;
}

.dark {
  &::view-transition-old(root) {
    z-index: 1;
  }

  &::view-transition-new(root) {
    z-index: 0;
  }
}

/* 全局基础规则 */
* {
  scrollbar-color: hsl(var(--scrollbar-color)) transparent;
  scrollbar-width: thin;
}

.disable-color-scheme-transition-duration *,
.disable-color-scheme-transition-duration *::before,
.disable-color-scheme-transition-duration *::after {
  transition-duration: 0ms !important;
}

html,
body {
  height: 100%;
}

body {
  box-sizing: border-box;
  margin: 0;
  -webkit-tap-highlight-color: transparent;
}

#app {
  height: 100%;
}

textarea {
  font-family: inherit;
}
