<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zjcxph.imgapi.mapper.ScanMapper">

    <select id="getImagePathList" resultType="com.zjcxph.imgapi.entity.PathDO">
        SELECT BRXH AS brxh, BAH AS bah, folder, filename
        FROM mr_scan
        WHERE uploadflag != 0
          AND id IN
        <foreach item="id" collection="ids" open="(" separator="," close=")">
            #{id}
        </foreach>
        ORDER BY BAH, sjh, pages NULLS LAST, id
    </select>

    <select id="findActiveByIds" resultType="com.zjcxph.imgapi.entity.Scan">
        SELECT *
        FROM mr_scan
        WHERE uploadflag != 0
          AND id IN
        <foreach item="id" collection="ids" open="(" separator="," close=")">
            #{id}
        </foreach>
        ORDER BY BAH, sjh, pages NULLS LAST, id
    </select>

    <update id="update">
        UPDATE mr_scan
        <set>
            <if test="brxh != null">BRXH = #{brxh},</if>
            <if test="bah != null">BAH = #{bah},</if>
            <if test="sjh != null">sjh = #{sjh},</if>
            <if test="filename != null">filename = #{filename},</if>
            <if test="btype != null">btype = #{btype},</if>
            <if test="pages != null">pages = #{pages},</if>
            <if test="openerNo != null">openerno = #{openerNo},</if>
            <if test="uploadDate != null">uploaddate = #{uploadDate},</if>
            <if test="uploadFlag != null">uploadflag = #{uploadFlag},</if>
            <if test="folder != null">folder = #{folder},</if>
        </set>
        WHERE id = #{id}
    </update>

    <!-- 兼容旧接口的有限条件查询，必须在 SQL 层 LIMIT。 -->
    <select id="findByCondition" resultType="com.zjcxph.imgapi.entity.Scan">
        SELECT * FROM mr_scan
        <where>
            <if test="request.brxh != null and request.brxh != ''">AND BRXH LIKE '%' || #{request.brxh} || '%'</if>
            <if test="request.bah != null and request.bah != ''">AND BAH LIKE '%' || #{request.bah} || '%'</if>
            <if test="request.sjh != null and request.sjh != ''">AND sjh LIKE '%' || #{request.sjh} || '%'</if>
            <if test="request.filename != null and request.filename != ''">AND filename LIKE '%' || #{request.filename} || '%'</if>
            <if test="request.folder != null and request.folder != ''">AND folder LIKE '%' || #{request.folder} || '%'</if>
            <if test="request.openerNo != null and request.openerNo != ''">AND openerno LIKE '%' || #{request.openerNo} || '%'</if>
            <if test="request.uploadDate != null and request.uploadDate != ''">AND uploaddate LIKE '%' || #{request.uploadDate} || '%'</if>
            <if test="request.btype != null">AND btype = #{request.btype}</if>
            <if test="request.uploadFlag != null">AND uploadflag = #{request.uploadFlag}</if>
            <if test="request.pages != null">AND pages = #{request.pages}</if>
        </where>
        ORDER BY id
        LIMIT #{limit}
    </select>

    <select id="findByConditionWithPagination" resultType="com.zjcxph.imgapi.entity.Scan">
        SELECT * FROM mr_scan
        <where>
            <if test="request.brxh != null and request.brxh != ''">AND BRXH LIKE '%' || #{request.brxh} || '%'</if>
            <if test="request.bah != null and request.bah != ''">AND BAH LIKE '%' || #{request.bah} || '%'</if>
            <if test="request.sjh != null and request.sjh != ''">AND sjh LIKE '%' || #{request.sjh} || '%'</if>
            <if test="request.filename != null and request.filename != ''">AND filename LIKE '%' || #{request.filename} || '%'</if>
            <if test="request.folder != null and request.folder != ''">AND folder LIKE '%' || #{request.folder} || '%'</if>
            <if test="request.openerNo != null and request.openerNo != ''">AND openerno LIKE '%' || #{request.openerNo} || '%'</if>
            <if test="request.uploadDate != null and request.uploadDate != ''">AND uploaddate LIKE '%' || #{request.uploadDate} || '%'</if>
            <if test="request.btype != null">AND btype = #{request.btype}</if>
            <if test="request.uploadFlag != null">AND uploadflag = #{request.uploadFlag}</if>
            <if test="request.pages != null">AND pages = #{request.pages}</if>
        </where>
        ORDER BY id LIMIT #{limit} OFFSET #{offset}
    </select>

    <select id="countByCondition" resultType="java.lang.Long">
        SELECT COUNT(*) FROM mr_scan
        <where>
            <if test="request.brxh != null and request.brxh != ''">AND BRXH LIKE '%' || #{request.brxh} || '%'</if>
            <if test="request.bah != null and request.bah != ''">AND BAH LIKE '%' || #{request.bah} || '%'</if>
            <if test="request.sjh != null and request.sjh != ''">AND sjh LIKE '%' || #{request.sjh} || '%'</if>
            <if test="request.filename != null and request.filename != ''">AND filename LIKE '%' || #{request.filename} || '%'</if>
            <if test="request.folder != null and request.folder != ''">AND folder LIKE '%' || #{request.folder} || '%'</if>
            <if test="request.openerNo != null and request.openerNo != ''">AND openerno LIKE '%' || #{request.openerNo} || '%'</if>
            <if test="request.uploadDate != null and request.uploadDate != ''">AND uploaddate LIKE '%' || #{request.uploadDate} || '%'</if>
            <if test="request.btype != null">AND btype = #{request.btype}</if>
            <if test="request.uploadFlag != null">AND uploadflag = #{request.uploadFlag}</if>
            <if test="request.pages != null">AND pages = #{request.pages}</if>
        </where>
    </select>

</mapper>
